@model List<WebApp.Models.DilOkulu_KursTipiFiyatlandirmalari>
<table id="standartHafta">
    <tr><td class="baslik">Hafta Sayısı</td><td class="baslik">Fiyat</td></tr>
    <tr>
        <td><input type="text" class="TextBox focusField" id="StandartHafta_Hafta" style="width:60px;" /></td>
        <td><input type="text" class="TextBox" id="StandartHafta_Fiyat" style="width:60px;" /></td>
        <td><input type="button" id="btnStandartHafta_Ekle" data-fiyatlandirmatipiid="1" value="Ekle" /></td>
        <td><input type="button" id="btnStandartHafta_AllDelete" data-fiyatlandirmatipiid="1" value="Tümünü Sil" /></td>
    </tr>
    @if (Model != null && Model.Count > 0)
    {
        foreach (var item in Model)
        {
            <tr class="fieldset">
                <td><input id="txtStandartHafta_HaftaSayisi" class="TextBox" style="width:60px;" type="text" value="@item.StandartHafta_HaftaSayisi" /></td>
                <td><input id="txtFiyat" class="TextBox" style="width:60px;" type="text" value="@item.Fiyat" /></td>
                <td colspan="2">
                    <input id="hfId" value="@item.Id" type="hidden" />
                    <a href="javascript:;" onclick="KursTipiFiyatSil(this)" data-fiyatlandirmatipiid="1" data-fiyatid="@item.Id">
                        <img src="/areas/CMS/assets/Images/delete_icon.png" style="width: 16px; height: 16px;cursor:pointer;" alt="Sil" />
                    </a>
                </td>
            </tr>

        }
        <tr>
            <td colspan="4"><input type="button" id="btnStandartHafta_Guncelle" data-fiyatlandirmatipiid="1" value="Güncelle" /></td>
        </tr>

    }
    else
    {
        <tr><td colspan="4"><strong>Henüz tanımlama yapılmamış!</strong></td></tr>
    }
</table>
<hr />
<b>Nasıl Kullanılır?</b><br />
 Bu fiyatlandırma modeli Akademik Semester, Akademik Yıl gibi sadece belirli bir sürede sunulan programlar için kullanılmalıdır. Örneğin 24 hafta Akademik Semester kurs ücreti 5000 USD gibi….