@using WebApp.Models
@{
    List<DilOkulu_KursKategorileri> kursKategorileri = null;
    if (ViewBag.KursKategorileri != null)
    {
        kursKategorileri = (List<DilOkulu_KursKategorileri>)ViewBag.KursKategorileri;
    }
}
<table cellpadding="0" cellspacing="0" class="OrtaMenu">
    <tr>
        <td class="OrtaMenuRow">
            <table cellpadding="0" cellspacing="0" class="fiyatTable">
                <tr>
                    <td class="baslik">
                        Kurs Kategorisi<span class="SpanZorunluAlan">*</span>
                    </td>
                    <td colspan="2">
                        <select id="kursKategorisi" name="kursKategorisi" class="DropDownList">
                            <option value="">Seçin...</option>
                            @foreach (var item in kursKategorileri)
                            {
                            <option value="@item.Id">@item.Baslik</option>
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="baslik">
                        Kurs Tipi<span class="SpanZorunluAlan">*</span>
                    </td>
                    <td colspan="2">
                        <input id="baslik" name="baslik" class="TextBox" type="text" style="width:300px;" />
                    </td>
                </tr>
                <tr>
                    <td class="baslik">
                        Başlangıç Tarihi
                    </td>
                    <td>
                        <input id="kursTipiBasTarihHerPazartesi" class="kursTipiTarih" name="kursTipiTarih" value="herPazartesi" type="radio" checked="checked" />
                        <label for="kursTipiBasTarihHerPazartesi">Her Pazartesi</label>
                        <input id="kursTipiOzelTarih" class="kursTipiTarih" name="kursTipiTarih" value="ozel" type="radio" />
                        <label for="kursTipiOzelTarih">Özel Tarih</label>

                    </td>
                    <td>
                        <div id="divKursTipiOzelTarih" style="display:none;">
                            ->
                            <input id="kursTipiOzelTarihGiris" name="kursTipiOzelTarihGiris" class="TextBox" style="width:60px;" type="text" />
                            <input id="btnTarihEkle" type="button" value="Ekle" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="baslik">Özel Tarih Listesi</td>
                    <td colspan="2">
                        <div id="divOzelTarihListesi">

                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="baslik">
                        Açıklama
                    </td>
                    <td colspan="2">
                        <textarea id="kursTipiAciklama" name="kursTipiAciklama" type="text" class="TextBox" style="width:300px;height:60px;"></textarea>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <input id="okulId" name="okulId" type="hidden" value="@ViewBag.OkulId" />
                        <input id="ozelTarihListesi" name="ozelTarihListesi" type="hidden" value="" />
                        <input id="btnKaydet" type="button" value="Kaydet" />
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>