<!-- Start Overlay -->
<div id="overlay"></div>
<!-- End Overlay -->
<!-- Start Special Centered Box -->
<div id="Loader">
    <img src="@Url.Content("~/Areas/cms/Assets/Images/ajax-loader.gif")" />
</div>
<!-- Start Special Centered Box -->
<!-- Start Normal Page Content -->  