
<div class="main-search">
    <form id="main-search" method="post" action="search_results.html">

        <span class="besadimdahead" style="display:none;">5 ADIMDA YURTDIŞINDA DİL OKULU BUL!</span>

        <div class="forms">
            <div class="form">
                <!--column-->

                <div class="column firstcolumn">
                    <h4>Eğitim Dili</h4>
                    <div class="f-item" style="width:100%;">
                        <select>
                            <option>İNGİLİZCE</option>
                            <option>ALMANCA</option>
                            <option>İSPANYOLCA</option>
                        </select>
                    </div>
                </div>
                <div class="column">
                    <h4>Ülke Seçiniz</h4>
                    <div class="f-item">
                        <select>
                            <option>İNGİLTERE</option>
                            <option>ALMANYA</option>
                            <option>İSPANYA</option>
                        </select>
                    </div>
                </div>
                <div class="column">
                    <h4>Şehir Seçiniz</h4>
                    <div class="f-item">
                        <select>
                            <option>LONDRA</option>
                            <option>BERLİN</option>
                            <option>BARSELONA</option>
                        </select>
                    </div>
                </div>
                <div class="column">
                    <h4>Kurs Kategorisi</h4>
                    <div class="f-item">
                        <select>
                            <option>GENEL İNGİLİZCE</option>
                            <option>TOEFL HAZIRLIK</option>
                            <option>EILTS HAZIRLIK</option>
                        </select>
                    </div>
                </div>
                <div class="column">
                    <h4>Başlangıç Tarihi</h4>
                    <div class="f-item datepicker" style="width:100%">
                        <div class="datepicker-wrap"><input type="text" placeholder="" id="datepicker1" name="datepicker1" /></div>
                    </div>
                </div>

                <div class="column">
                    <h4>Eğitim Süresi</h4>
                    <div class="f-item" style="width:100%">
                        <select>
                            <option>1 HAFTA</option>
                            <option>2 HAFTA</option>
                            <option>3 HAFTA</option>
                        </select>
                    </div>

                </div>

                <div class="column okulismisearch">

                    <span class="yadabaslik"><div>YA DA</div>&nbsp; &nbsp;</span>

                    <div class="f-item">
                        <input type="text" value="OKUL İSMİ İLE ARA">
                    </div>
                </div>

                <!--//column-->


            </div>
        </div>
        <input type="submit" value="ARAMAYI BAŞLAT" class="search-submit" id="search-submit" />

    </form>
</div>