
<footer>
    <div class="wrap clearfix">
        <!--column-->
        <article class="one-fourth">

            <p><strong>Dilokulu.com.tr</strong></p>
            <p><em>Telefon:</em> 0 212 249 94 89</p>
            <p><em>Email:</em> <a href="mailto:info@dilokulu.com.tr" title="info@dilokulu.com.tr">info@dilokulu.com.tr</a></p>
        </article>
        <!--//column-->
        <!--column-->
        <article class="one-fourth">

            <ul>
                <li><a href="#" title="YURTDIŞI DİL OKULLARI">YURTDIŞI DİL OKULLARI</a></li>
                <li><a href="#" title="VİZE REHBERİ">VİZE REHBERİ</a></li>
                <li><a href="#" title="FİYAT LİSTESİ">FİYAT LİSTESİ</a></li>
            </ul>
        </article>
        <!--//column-->
        <!--column-->
        <article class="one-fourth">
            <h3>Bizi takip et</h3>
            <ul class="social">
                <li class="facebook"><a href="https://www.facebook.com/dilokulucomtr" title="facebook">facebook</a></li>
                <li class="twitter"><a href="https://twitter.com/dilokulu_comtr" title="twitter">twitter</a></li>

            </ul>
        </article>
        <!--//column-->
        <!--column-->
        <article class="one-fourth last">
            <h3>Haber bültenimize abone ol</h3>
            <form id="newsletter" action="newsletter.php" method="post">
                <fieldset>
                    <input type="email" id="newsletter_signup" name="newsletter_signup" placeholder="E-mail adresinizi yazınız" />
                    <input type="submit" id="newsletter_submit" name="newsletter_submit" value="Üye ol" class="gradient-button" />
                </fieldset>
            </form>
        </article>
        <!--//column-->

        <section class="bottom">
            <p class="copy">Dilokulu.com.tr 2015 - Tüm hakları saklıdır.</p>
            <nav>
                <ul>
                    <li><a href="http://dilokulu.com.tr/" title="Yurtdışında Dil Okulları" targer="_blank">Yurtdışında Dil Okulları</a></li>
                    <li><a href="http://academix.com.tr/" title="Yurtdışı Eğitim Danışmanlık" targer="_blank">Yurtdışı Eğitim Danışmanlık</a></li>
                    <li><a href="http://dilokulu.com.tr/xml/sitemap" title="Sitemap" targer="_blank">Sitemap</a></li>
                </ul>
            </nav>
        </section>
    </div>
</footer>