
<header>
    <div class="wrap clearfix">
        <!--logo-->
        <h1 class="logo"><a href="@Url.Action("index","home")" title="Yurtdışı Dil Okulları"><img src="@Url.Content("~/assets/images/uploads/logo.png")" alt="Yurtdışı Dil Okulları" /></a></h1>
        <!--//logo-->
        <!--ribbon-->
        <div class="ribbon">

            <ul>
                <li><a href="#" title=""><i class="fa fa-info-circle"></i> HAKKIMIZDA</a></li>
                <li><a href="#" title=""><i class="fa fa-briefcase"></i> ACENTALAR</a></li>
                <li><a href="#" title=""><i class="fa fa-weixin"></i> CANLI DESTEK</a></li>
                <li><a href="#" title=""><i class="fa fa-envelope"></i> BİLGİ İSTEK</a></li>
                <li><a href="#" title=""><i class="fa fa-phone-square"></i> İLETİŞİM</a></li>

            </ul>
        </div>
        <!--//ribbon-->
        <!--contact-->
        <div class="contact">
            <a href="#">
                <img src="@Url.Content("~/assets/images/ico/call-icon.png")" width="64" height="64" />
                <span class="number">0 212 249 94 89</span>
                <span>DETAYLI BİLGİ İÇİN HEMEN ARAYIN</span>
            </a>
        </div>


        <!--//contact-->
    </div>

    <!--main navigation-->
    <nav class="main-nav" role="navigation">
        <ul class="wrap" id="nav">
            <li>
                <a href="#" title="">YURTDIŞI DİL OKULLARI</a>


                <ul class="">
                    <div class="menukolon">
                        <li><a href="/ingiltere-dil-okullari" title="İngiltere dil okulları">İNGİLTERE</a></li>
                        <li><a href="/amerika-dil-okullari" title="Amerika dil okulları">AMERİKA</a></li>
                        <li><a href="/kanada-dil-okullari" title="Kanada dil okulları">KANADA</a></li>
                        <li><a href="/avustralya-dil-okullari" title="Avustralya dil okulları">AVUSTRALYA</a></li>
                        <li><a href="/yeni-zelanda-dil-okullari" title="Yeni Zelanda dil okulları">YENİ ZELANDA</a></li>
                        <li><a href="/irlanda-dil-okullari" title="İrlanda dil okulları">İRLANDA</a></li>
                        <li><a href="/malta-dil-okullari" title="Malta dil okulları">MALTA</a></li>
                        <li><a href="/guney-afrika-dil-okullari" title="Güney Afrika dil okulları">GÜNEY AFRİKA</a></li>
                    </div>
                    <div class="menukolon">
                        <li><a href="/ispanya-dil-okullari" title="İspanya dil okulları">İSPANYA</a></li>
                        <li><a href="/italya-dil-okullari" title="İtalya dil okulları">İTALYA</a></li>
                        <li><a href="/almanya-dil-okullari" title="Almanya dil okulları">ALMANYA</a></li>
                        <li><a href="/fransa-dil-okullari" title="Fransa dil okulları">FRANSA</a></li>
                        <li><a href="/rusya-dil-okullari" title="Rusya dil okulları">RUSYA</a></li>
                        <li><a href="/iskocya-dil-okullari" title="İskoçya dil okulları">İSKOÇYA</a></li>
                        <li><a href="/cin-dil-okullari" title="Çin dil okulları">ÇİN</a></li>
                        <li><a href="/japonya-dil-okullari" title="Japonya dil okulları">JAPONYA</a></li>
                    </div>
                    <div class="menukolon">
                        <li><a href="/portekiz-dil-okullari" title="Portekiz dil okulları">PORTEKİZ</a></li>
                        <li><a href="/avusturya-dil-okullari" title="Avusturya dil okulları">AVUSTURYA</a></li>
                        <li><a href="/brezilya-dil-okullari" title="Brezilya dil okulları">BREZİLYA</a></li>
                        <li><a href="/fas-dil-okullari" title="Fas dil okulları">FAS</a></li>
                        <li><a href="/arjantin-dil-okullari" title="Arjantin dil okulları">ARJANTİN</a></li>
                        <li><a href="/bolivya-dil-okullari" title="Bolivya dil okulları">BOLİVYA</a></li>
                        <li><a href="/sili-dil-okullari" title="Şili dil okulları">ŞİLİ</a></li>
                        <li><a href="/kosta-rika-dil-okullari" title="Kosta Rika dil okulları">KOSTA RİKA</a></li>
                    </div>
                    <div class="menukolon">
                        <li><a href="/kuba-dil-okullari" title="Küba dil okulları">KÜBA</a></li>
                        <li><a href="/ekvador-dil-okullari" title="Ekvador dil okulları">EKVADOR</a></li>
                        <li><a href="/guatemala-dil-okullari" title="Guatemala dil okulları">GUATEMALA</a></li>
                        <li><a href="/meksika-dil-okullari" title="Meksika dil okulları">MEKSİKA</a></li>
                        <li><a href="/peru-dil-okullari" title="Peru dil okulları">PERU</a></li>
                        <li><a href="/dominik-cumhuriyeti-dil-okullari" title="Dominik Cumhuriyeti dil okulları">DOMİNİK CUMHURİYETİ</a></li>
                        <li><a href="/kolombiya-dil-okullari" title="Kolombiya dil okulları">KOLOMBİYA</a></li>
                        <li><a href="#" title="#">&nbsp;</a></li>
                    </div>
                </ul>
            </li>
            <li>
                <a href="#" title="">VİZE REHBERİ</a>

                <ul>
                    <li><a href="/ingiltere-vize-rehberi" title="İngiltere vize rehberi">İNGİLTERE</a></li>
                    <li><a href="/amerika-vize-rehberi" title="Amerika vize rehberi">AMERİKA</a></li>
                    <li><a href="/kanada-vize-rehberi" title="Kanada vize rehberi">KANADA</a></li>
                    <li><a href="/avustralya-vize-rehberi" title="Avustralya vize rehberi">AVUSTRALYA</a></li>
                    <li><a href="/yeni-zelanda-vize-rehberi" title="Yeni Zelanda vize rehberi">YENİ ZELANDA</a></li>
                    <li><a href="/malta-vize-rehberi" title="Malta vize rehberi">MALTA</a></li>
                    <li><a href="/irlanda-vize-rehberi" title="İrlanda vize rehberi">İRLANDA</a></li>
                    <li><a href="/ispanya-vize-rehberi" title="İspanya vize rehberi">İSPANYA</a></li>
                    <li><a href="/italya-vize-rehberi" title="İtalya vize rehberi">İTALYA</a></li>
                    <li><a href="/almanya-vize-rehberi" title="Almanya vize rehberi">ALMANYA</a></li>
                </ul>

            </li>
            <li><a href="#" title="">FİYAT LİSTELERİ</a></li>


            <li><a href="#" title="">YABANCI DİL SEVİYE TESTİ</a></li>

        </ul>


    </nav>
    <!--//main navigation-->
</header>