@{

    List<WebApp.Models.DilOkulu_KonaklamaTipleri> konaklamaTipleri = null;
    if (ViewBag.KonaklamaTipleri != null)
    {
        konaklamaTipleri = (List<WebApp.Models.DilOkulu_KonaklamaTipleri>)ViewBag.KonaklamaTipleri;
    }
}
<table cellpadding="0" cellspacing="0" class="OrtaMenu">
    <tr>
        <td class="OrtaMenuRow">
            <table cellpadding="0" cellspacing="0" class="fiyatTable">
                <tr>
                    <td class="baslik">
                        Konaklama Tipleri<span class="SpanZorunluAlan">*</span>
                    </td>
                    <td colspan="2">
                        <select id="konaklamaTipi" name="konaklamaTipi" class="DropDownList">
                            <option value="">Seçin...</option>
                            @foreach (var item in konaklamaTipleri)
                            {
                                <option value="@item.Id" @(ViewBag.KonaklamaTipiId == item.Id ? "selected" : "")>@item.Baslik</option>
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="baslik">
                        Fiyatlandırma Modelleri<span class="SpanZorunluAlan">*</span>
                    </td>
                    <td colspan="2">
                        <select id="fiyatlandirmaTipi" name="fiyatlandirmaTipi" class="DropDownList">
                            <option value="">Seçin...</option>
                            <option value="1">Standart Hafta & Tek Fiyat</option>
                            @*<option value="2">Her Haftaya Özel Fiyat</option>*@
                            <option value="3">Hafta Bazlı & Birim Fiyatlı</option>

                        </select>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <!--Ajax ile dolacak ( fiyatTanimi.init();)-->
                        <div id="fiyatTanimiHaftaTanimlari"></div>

                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>