@{
    ViewBag.Title = "Konaklama Ek Ücret Kopyala Tesekkur";
    Layout = "~/Areas/cms/Views/Shared/_CMSLayout.cshtml";
}

@section HeaderWithContentPage{
    <script src="~/Areas/cms/Assets/js/dilokulu.js"></script>
    <script src="@Url.Content("~/Areas/cms/Assets/js/konaklama_girisleri.js")"></script>
}

<br /><br /><br /><br /><br /><br />
<center><h2>Kopyalama işlemi tamamlandı!</h2></center>

<script type="text/javascript">
    $(function () {
        konaklamaEkUcretKopyalama.init();
    })

</script>